fastapi
uvicorn
pydantic
python-dotenv
google-genai
llama-index-core
llama-index-graph-stores-neo4j
llama-index-vector-stores-qdrant
llama-index-llms-google-genai
llama-index-embeddings-google-genai
qdrant-client